<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Client Page</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="container">
        <h2>Welcome Customer</h2>
        <div id="userInfo">Loading user information...</div>
        <button class="logout-btn" id="logoutButton">Logout</button>
    </div>

    <script src="../js/customer.js"></script>
</body>
</html>
