<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome</title>
  <link rel="stylesheet" href="../css/style.css">
</head>
<body>
  <!-- Welcome manner -->
  <div id="welcomeModal" class="modal">
    <div class="modal-content">
      <h2>¡Welcome!</h2>
      <p id="userInfo">Loading user information...</p>
      <button id="redirectButton" class="btn">Go to your page</button>
    </div>
  </div>

  <script src="../js/welcome.js"></script>
</body>
</html>
